include ../svgiconsmodule/svgicons.pug
//- include ../hiddentextmodule/hiddentext.pug
main: include components/main.pug

//- include ../patientapprovalmodule/patientapproval.pug
//- include ../loadcontrolsmodule/loadcontrols.pug
//- include ../overviewtablemodule/overviewtable.pug
