//- loadcontrols structure
#mindate-indication Untersuchungen ab: 
    span#mindate-display

button#back-button.click-button: svg: use(href="#svg-chevron-left-icon")
#patient-name-indication Chosen One

#loadcontrols
    button#refresh-button.click-button: svg: use(href="#svg-refresh-icon")
    select#choose-date-limit
        option(value="1") 30 Tage
        option(value="2") 3 Monate 
        option(value="3") 6 Monate
        option(value="4") 1 Jahr
        option(value="5") 2 Jahre