main
    background-color cd-darkblue
    color white
    height 100%
    h1
        font-size: 32pt
        font-weight: bold
        line-height: 110%

#main
    display: flex
    flex-direction: column
    height 100%

#main-block-content
    padding: 0 5px 5px 5px
    box-sizing: border-box
    height 100%
